//Media queries
//Phones to Tablets
@media only screen and (min-width: 320px) and (max-width: 1025px) {
    * {
        box-sizing: border-box;
        font-family: -apple-system, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
        scroll-behavior: smooth;
        margin: 0;
    }
    //General styles
    .colors {
        &__white {
            color: white;
        }
        &__gradient {
            background: -webkit-linear-gradient(60deg, #1D9691 1.61%, #4472C4 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }
    }
    .text {
        &__normal {
            font-size: 17px;
            line-height: 1.4;
        }
        &__small {
            font-size: 14px;
            line-height: 1.4;
        }
    }
    .img {
        &__logo {
            width: 180px;
            &__org {
                width: 50%;
                height: 5rem;
            }
        }
        &__big {
            width: 18rem;
        }
        &__icon {
            width: 44px;
            height: 44px;
            padding: 8px;
        }
    }
    .link {
        &__text {
            text-decoration: none;
            color: black;
            cursor: pointer;
        }
        &__select {
            border: none;
            background-color: transparent;
            font-size: 1rem;
            cursor: pointer;
        }
    }
    .btn {
        font-weight: 600;
        font-size: 1rem;
        cursor: pointer;
        transition: all .5s ease;
        &__filled {
            width: 100%;
            background: linear-gradient(60deg, #1D9691 1.61%, #4472C4 100%);
            color: white;
            padding: 1.2rem 2rem;
            border-radius: 100px;
            border: 6px solid #C6D5EC;
            &:hover {
                background: linear-gradient(60deg, #167f7c 1.61%, #355da1 100%);
            }
            &__mobile-float {
                font-weight: 600;
                font-size: 1rem;
                width: 220px;
                background: linear-gradient(60deg, #1D9691 1.61%, #4472C4 100%);
                color: white;
                padding: 1.2rem 2rem;
                border-radius: 100px;
                border: 6px solid #C6D5EC;
                display: block;
                position: fixed;
                z-index: 10;
                bottom: 32px;
                right: 32px;
            }
        }
        &__outlined {
            background-color: white;
            color: #4472C4;
            padding: 1.2rem 2rem;
            border-radius: 100px;
            border: 6px solid #C6D5EC;
            box-sizing: border-box;
            max-width: 27ch;
            display: inline-block;
            white-space: nowrap;
            overflow: hidden !important;
            text-overflow: ellipsis;
            &__form {
                width: 100%;
                background-color: white;
                color: #4472C4;
                padding: 1.2rem 2rem;
                border-radius: 100px;
                border: 6px solid #C6D5EC;
                box-sizing: border-box;
                display: inline-block;
                white-space: nowrap;
                overflow: hidden !important;
                text-overflow: ellipsis;
                &:hover {
                    border: 6px solid #4472C4;
                }
            }
            &:hover {
                border: 6px solid #4472C4;
            }
        }
        &__menu-mobile {
            display: block;
        }
    }
    .title {
        margin: 0;
        line-height: 1.4;
        &__h1 {
            font-size: 64px;
            font-weight: 700;
            background: -webkit-linear-gradient(60deg, #1D9691 1.61%, #4472C4 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            margin: 0;
            line-height: 1.4;
        }
        &__h2 {
            font-weight: 700;
            font-size: 48px;
            background: -webkit-linear-gradient(60deg, #1D9691 1.61%, #4472C4 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            margin: 0;
        }
        &__h3 {
            font-weight: 600;
            font-size: 22px;
            margin: 0;
            line-height: 1.4;
        }
        &__h4 {
            font-size: 17px;
            line-height: 1.4;
            font-weight: 700;
        }
    }
    .navbar {
        width: 100%;
        height: 100px;
        overflow: none;
        &__btn {
            &__filled {
                display: none;
            }
        }
        &__links {
            display: none;
        }
        &__top {
            display: flex;
            flex-direction: row;
            background-color: #FFFFFF;
            box-shadow: 0px 8px 40px rgba(63, 120, 189, 0.12);
            align-items: center;
            justify-content: space-between;
            position: fixed;
            z-index: 100;
            box-sizing: border-box;
            &__left-side {
                padding: 0 2rem;
            }
            &__right-side {
                padding: 0 2rem;
            }
        }
        &__bottom {
            display: inline-flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            bottom: 0;
            width: 100vw;
            padding: 32px;
            background: linear-gradient(85.23deg, #1D9691 1.61%, #4472C4 100%);
            color: white;
        }
    }
    .hero {
        display: inline-flex;
        padding: 120px 0 50px 0;
        align-items: center;
        justify-content: center;
        background-color: #F4F7FA;
        flex-direction: column;
        gap: 32px;
        &__grid {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            padding: 0 32px;
            gap: 52px;
            &__left-side {
                display: flex;
                flex-direction: column;
                justify-content: center;
                //  width: 70%;
                height: 100%;
                &__featured {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 32px 0;
                    flex-wrap: wrap;
                    &__column {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 4px;
                    }
                    &__row {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        padding: 0;
                    }
                }
            }
        }
    }
    .section {
        &__in-article {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 16px;
        }
        &__with-bg {
            padding: 52px 0;
            background: #F4F7FA;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            gap: 32px;
        }
        &__no-bg {
            display: flex;
            align-items: center;
            padding: 100px 32px;
            flex-wrap: wrap;
            background-color: transparent;
            justify-content: center;
            gap: 32px;
            &__right {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 32px;
                &__instruction {
                    background-color: #F4F7FA;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    padding: 1rem;
                    border-radius: 20px;
                    gap: 16px;
                }
            }
        }
        &__no-bg-reverse {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 52px 40px;
            gap: 32px;
            background-color: transparent;
            flex-wrap: wrap;
            text-align: center;
        }
        &__no-bg-centered {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 100px 32px;
            //  gap: 32px;
            text-align: center;
            background-color: transparent;
        }
    }
    .wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 32px;
        &__contact {
            background-color: #F4F7FA;
        }
        &__cards {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 2rem 0;
            &__scroll {
                display: flex;
                width: 100%;
                height: 100%;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding-bottom: 52px;
                overflow-x: auto;
            }
            &__flex-wrap {
                flex-direction: row;
                justify-content: center;
                align-items: center;
                display: flex;
                flex-wrap: wrap;
                padding: 0 32px;
            }
            &__shrink {
                flex-shrink: 2;
            }
        }
        &__article {
            padding: 10% 20%;
            display: flex;
            flex-direction: column;
            text-align: left;
            gap: 40px;
        }
        &__tags {
            display: flex;
            flex-wrap: wrap;
        }
    }
    .tag {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 16px;
        margin: 4px 4px 4px 0;
        gap: 10px;
        background: #F4F7FA;
        border-radius: 100px;
        color: #4472C4;
    }
    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 48px;
        gap: 24px;
        &__input {
            display: flex;
            flex-direction: column;
            text-align: left;
            padding: 16px;
            box-sizing: border-box;
            width: 100%;
            margin: 8px 0;
            border-radius: 8px;
            border: 1px solid #bed2e4;
        }
    }
    .card {
        background-color: white;
        border: 1px solid #DFEAF4;
        box-shadow: 2px 28px 52px rgba(63, 120, 189, 0.12);
        border-radius: 20px;
        margin: 0.8rem;
        box-sizing: border-box;
        transition: all .5s ease;
        &__info {
            width: 19.5rem;
            height: 15rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            &:hover {
                box-shadow: 2px 16px 56px rgba(51, 100, 161, 0.251);
                border: 1px solid #bed2e4;
            }
        }
        &__success {
            padding: 88px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 32px;
        }
        &__colored {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            background: linear-gradient(85.23deg, #136865 1.61%, #2d579f 100%);
            border-radius: 20px;
            padding: 24px;
            margin-bottom: 16px;
            cursor: pointer;
            &__left {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 12px;
                width: 60%;
            }
        }
        &__meeting {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            padding: 32px;
            gap: 24px;
            width: 344px;
            height: 536px;
            &:hover {
                box-shadow: 2px 16px 56px rgba(51, 100, 161, 0.251);
                border: 1px solid #4472C4;
            }
        }
        &__org {
            width: 342px;
            height: 400px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 32px;
            gap: 32px;
            box-sizing: border-box;
            &:hover {
                box-shadow: 2px 16px 56px rgba(51, 100, 161, 0.251);
                border: 1px solid #4472C4;
            }
            &__wrap {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 0px;
                gap: 12px;
                &__details {
                    width: 143px;
                    height: fit-content;
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: column;
                    gap: 4px;
                    align-items: center;
                    padding: 16px;
                    background: #F4F7FA;
                    border-radius: 20px;
                }
            }
        }
        &__FAQ {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 44px;
            width: 100%;
            padding: 32px;
            text-align: left;
        }
    }
}

@media only screen and (max-width:739px) {
    .card {
        transition: all .5s ease;
        &__info {
            width: 16rem;
            height: 14rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }
    }
    .title {
        margin: 0;
        line-height: 1.2;
        &__h1 {
            font-size: 60px;
            font-weight: 700;
            background: -webkit-linear-gradient(60deg, #1D9691 1.61%, #4472C4 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            margin: 0;
            line-height: 1.2;
        }
        &__h2 {
            font-weight: 700;
            font-size: 44px;
            background: -webkit-linear-gradient(60deg, #1D9691 1.61%, #4472C4 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            margin: 0;
            line-height: 1.2;
        }
        &__h3 {
            font-weight: 600;
            font-size: 20px;
            margin: 0;
            line-height: 1;
        }
        &__h4 {
            font-size: 16px;
            line-height: 1.2;
            font-weight: 700;
        }
    }
}

@media only screen and (max-width:628px) {
    .card {
        transition: all .5s ease;
        &__info {
            width: 13rem;
            height: 12rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }
    }
    .text {
        &__normal {
            font-size: 16px;
            line-height: 1.2;
        }
    }
    .title {
        margin: 0;
        line-height: 1.2;
        &__h1 {
            font-size: 60px;
            font-weight: 700;
            background: -webkit-linear-gradient(60deg, #1D9691 1.61%, #4472C4 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            margin: 0;
            line-height: 1.2;
        }
        &__h2 {
            font-weight: 700;
            font-size: 36px;
            background: -webkit-linear-gradient(60deg, #1D9691 1.61%, #4472C4 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            margin: 0;
            line-height: 1.2;
        }
        &__h3 {
            font-weight: 600;
            font-size: 20px;
            margin: 0;
            line-height: 1.2;
        }
        &__h4 {
            font-size: 16px;
            line-height: 1.2;
            font-weight: 700;
        }
    }
}

@media only screen and (min-width:200)and (max-width:532px) {
    .card {
        &__info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }
    }
}

#mobile-float {
    bottom: -5em;
    /* Hide the navbar 50 px outside of the top view */
    transition: bottom 0.5s;
    /* Transition effect when sliding down (and up) */
}